* {
    margin: 0;
    padding: 0;
}
button{
    padding: 10px;
    border-radius: 30%;
} img {
    width: 100px;
    border-radius: 30px;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#startPage {
    z-index: 0;
    background-color: #251749;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

#popDiv{
    z-index: 1;
   background: black;
    background-size: cover;
    backdrop-filter: blur(100);
    -webkit-backdrop-filter: blur(100);
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    display: none;
}
#screenid {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.form{
    flex-direction: column;
}